In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as pltc
import datetime as dt
import matplotlib as mpl
import geopandas
import seaborn as sns
import patchworklib as pw

## Plotting parameters
mpl.rcParams['pdf.fonttype'] = 42

## Cubic feet to cubic meters conversion factor
cfs_2_cms = 0.0283168466

In [4]:
df_comid = pd.read_csv("../data/pnwNPall_InfowStats.csv")
df_HydroClass = pd.read_csv("../data/pnwNP_StatsLocations_HydroClass.csv")
df_kge = pd.read_csv("../data/KGE_gages.csv")

In [5]:
df = df_comid[df_comid["gage"].isin(df_kge['gage'])].reset_index(drop=True)

In [7]:
df.describe()

               gage       numZero        numOne         comid
count  1.660000e+02    166.000000    166.000000  1.660000e+02
mean   1.468256e+07    987.048193   2108.265060  2.384023e+07
std    1.290121e+07   2360.485050   3053.083521  4.300704e+05
min    1.037850e+07      0.000000      7.000000  2.297713e+07
25%    1.247839e+07      0.000000    137.500000  2.346552e+07
50%    1.321625e+07     19.500000    727.000000  2.381532e+07
75%    1.415300e+07    515.250000   2773.250000  2.415685e+07
max    1.308750e+08  13393.000000  16349.000000  2.453828e+07

In [10]:
df['numObs'] = pd.to_datetime(df['endDate']) - pd.to_datetime(df['startDate'])
df['numObs'] = df['numObs'].dt.days
df['propZero'] = df['numZero']/df['numObs']
df['propOne'] = df['numOne']/df['numObs']

In [13]:
df.describe()

,gage,numZero,numOne,comid,numObs,propZero,propOne
count,1.660000e+02,166.000000,166.000000,1.660000e+02,166.000000,166.000000,166.000000
mean,1.468256e+07,987.048193,2108.265060,2.384023e+07,15225.861446,0.084846,0.179090
std,1.290121e+07,2360.485050,3053.083521,4.300704e+05,7912.704847,0.191569,0.234911
min,1.037850e+07,0.000000,7.000000,2.297713e+07,729.000000,0.000000,0.000494
25%,1.247839e+07,0.000000,137.500000,2.346552e+07,8802.250000,0.000000,0.011203
50%,1.321625e+07,19.500000,727.000000,2.381532e+07,14137.000000,0.001350,0.054724
75%,1.415300e+07,515.250000,2773.250000,2.415685e+07,24743.000000,0.044335,0.277307
max,1.308750e+08,13393.000000,16349.000000,2.453828e+07,25931.000000,0.960355,0.985785

In [27]:
df[df.propZero==0]

,gage,numZero,numOne,startDate,endDate,comid,numObs,propZero,propOne
0,10378500,0,2405,1950-01-02,1991-09-30,24043081.0,15246,0.0,0.157746
1,10393500,0,15,1950-01-02,2012-09-30,24007050.0,22917,0.0,0.000655
3,10406500,0,92,1950-01-02,1991-09-29,24072859.0,15245,0.0,0.006035
4,12043173,0,23,1976-05-02,1979-09-29,23838898.0,1245,0.0,0.018474
5,12043190,0,34,1976-06-02,1979-09-29,24001309.0,1214,0.0,0.028007
...,...,...,...,...,...,...,...,...,...
158,14337800,0,90,1973-07-20,2000-09-30,23923890.0,9934,0.0,0.009060
159,14337830,0,114,1986-04-11,2003-09-30,23923882.0,6381,0.0,0.017866
160,14338000,0,264,1950-01-02,2020-12-31,23923878.0,25931,0.0,0.010181
163,14353000,0,15,1974-12-02,2020-12-31,23930882.0,16831,0.0,0.000891
165,14371500,0,1091,1950-01-02,1989-04-30,23940779.0,14363,0.0,0.075959